div(ng-app='ng-app')
  h2 Recordings
  div(class='container-fluid')
    div(ng-controller='RecordingCtrl') Search
      input(ng-model='query')
      ul.unstyled
        li(ng-repeat='recording in recordings.ProgramList.Programs | filter:query')
          div(class="row-fluid")
            img(src='/Content/GetPreviewImage?ChanId={{recording.Channel.ChanId}}&Width=200&StartTime={{recording.StartTime}}',class="span3")
            div(class='span9')
              h4 
                a(ng-href='#/recording/{{recording.Channel.ChanId}}/{{recording.StartTime}}') {{recording.Title}}
              p {{recording.Description}}