div(ng-app='ng-app')
  h2 Vidoes
  div(class='container-fluid')
    div(ng-controller='VideoCtrl')
      div(class="row-fluid")
        div(class='span2') Search
          input(ng-model='query')
      p{{streams}} Streams
      ul.unstyled
        li(ng-repeat='video in videos.VideoMetadataInfoList.VideoMetadataInfos | filter:query')
          div(class="row-fluid")
            img(src='{{video.Artwork.ArtworkInfos[1].URL}}&Width=200',class="span3")
            div(class='span9')
              h4 
                a(ng-href='#/video/{{video.Id}}') {{video.Title}} {{video.Certification}}
              p {{video.Description}}
              p{{video.FileName}}
              p{{streamHash[video.Id]}} Stream
              
              button(ng-click="startStream(video.Id)") Start Stream
              button(ng-click="deleteStream(streamHash[video.Id].Id)") Delete Stream
        
  